.octava_pagina
{
    .contenedor_superior
    {
        height: 50%;
        display: flex;
        background: $letrasOscuras2;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h3
        {
            text-align: center;
            color: $fondoClaro;
            font-size: 300%;
            font-weight: 500;
            margin-bottom: 24px;
        }

        p
        {
            width: 40%;
            text-align: center;
            color: $fondoClaro;
            font-size: 150%;
            font-weight: 300;
        }

        .campo_email
        {
            display: flex;
            width: 30%;
            align-items: center;
            justify-content: center;
            background: white;
            border-radius: 24px;
            margin-top: 10px;
            input
            {
                width: 100%;
                margin-left: 15px;
                background: transparent;
                border-color: transparent;
                padding: 4px;
                outline: transparent;
                font-size: 150%;
                font-weight: 300;

            }
            input::placeholder
            {
                color: rgb(109, 109, 109);
            }
            .p2
            {
                //width: 10%;
                text-align: center;
                //height: 100%;
                background: $fondoClaro;
                font-size: 150%;
                border-radius: 24px;
                font-weight: 500;
                padding: 6px;
                color: $letrasOscuras2;
                cursor: pointer;
            }
        }
    }

    .contenedor_inferior
    {
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 5%;
        margin-right: 5%;
        .title
        {
            h4
            {
                color: $letrasOscuras2;
                font-size: 32px;
                font-weight: 500;
                margin-bottom: 24px;
            }
    
            p
            {
                color: $letrasOscuras2;
                font-size: 18px;
                font-weight: 300;
            }
    
        }
        .row
        {
            width: 20%;
            display: flex;
            flex-direction: column;
            //vertical-align: top;
            h4
            {
                color: $letrasOscuras2;
            }
            a
            {
                margin: 10px;
                text-decoration: none;
                color: $letrasOscuras2;
                font-weight: 300;
            }
        }

        .redes
        {
            width: 20%;
            display: flex;
            flex-direction: column;
            h4
            {
                color: $letrasOscuras2;
            }
            a
            {
                margin-left: 8px;
                text-decoration: none;
                color: $letrasOscuras2;
                font-weight: 300;
            }
            .red
            {
                display: flex;
                margin: 8px;
                align-items: center;
                img
                {
                    width: 32px;
                }
            }
        }
    }
}