.primer_pagina
{
    background: $fondoClaro;
    header
    {
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        .nombre_compania
        {
            top: 0%;
            left: 2%;
            background: #90d8c5;
            width: 5%;
            padding: 10px;
            img
            {
                width: 100%;
                border-radius: 50%;
            }
            position: absolute;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
        }
        .menu
        {
            height: 35%;
            width: 100%;
            display: flex;
            justify-content: right;
            align-items: center;
            background: $navbar;
            a
            {
                color: $letrasOscuras;
                text-decoration: none;
                padding-left: 64px;
                padding-right: 64px;
            }
        }
    }
    
    main
    {
        height: 95%;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        //position: relative;
        // img
        // {
        //     height: 512px;
        //     width: 512px;
        //     border-radius: 50%;
        // }
        .contenedor_bimg
        {  
            width: 30%;
            height: 0%;
            margin-top: 25%;
            padding-bottom: 30%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            img{ 
                width: 100%;
                position: absolute;
            }
            
            .contenedor_img
            {
                border-style: solid;
                border-color: $mandala;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                border-width: 2px;
                width: 70%;
                height: 70%;
                border-radius: 50%;
                overflow: hidden;
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                img{ 
                    width: 150%;
                }
            }
            
        }
    
        .inicio_info
        {
            width: 40%;
            height: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-items: center;
            
            h1
            {
                text-align: center;
                color: $letrasOscuras2;
                font-size: 500%;
                font-weight: 900;
                //top: 50%;
                //right: 10%;
                //position: absolute;
                padding: 10px;
            }
            p
            {
                width: 50%;
                text-align: center;
                color: $letrasOscuras2;
                font-weight: 300;
                font-size: 130%;
                //top: 50%;
                //right: 10%;
                //position: absolute;
            }
            .join
            {
                width: 20%;
                text-align: center;
                font-weight: 400;
                background: $letrasOscuras2;
                color: $blanco;
                padding: 10px;
                border-radius: 10px;
                margin-top: 24px;
                font-size: 130%;
                cursor: pointer;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            }
        }
    }
}