.quinta_pagina
{
    display: flex;
    align-items: center;
    justify-content: center;
    background: $fondoClaro;
    vertical-align: middle;

    .contenedor_izq
    {
        width: 50%;
        height: 80%;
        overflow: hidden;
        margin-left: 5%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        img
        {
            width: 100%;
            transform: translateY(-40%);
        }
    }

    .contenedor_der
    {
        width: 50%;
        margin-left: 64px;
        margin-right: 64px;
        h3
        {
            color: $letrasOscuras2;
            width: 50%;
            font-size: 400%;
            margin-bottom: 10px;
        }
        p
        {
            color: $letrasOscuras2;
            font-size: 150%;
            font-weight: 300;
        }
        .p2
        {
            width: 256px;
            background: $letrasOscuras2;
            color: $fondoClaro;
            font-size: 150%;
            font-weight: 700;
            text-align: center;
            padding: 10px;
            border-radius: 5px;
            margin-top: 64px;
            cursor: pointer;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
    }
}