$color1: #19d3da;
$color2: #373a40;
$color3: #686d76;
$color4: #eeeeee;
$mandala: #71918e;
$navbar: #deeee8;
$fondoClaro: #f2f9f4;
$letrasOscuras: #454e4d;
$letrasOscuras2: #529995;

$blanco: #e2e2e2;
$negro: #131313;

*
{
    padding: 0%;
    margin: 0%;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    word-wrap: break-word;
    
}

body
{
    width: 100%;
    height: 100vh;

    .contenedor_general
    {
        width: 100%;
        height: 100%;

        .viewport
        {
            width: 100%;
            height: 100%;
            overflow: hidden;

        }
        @import "primer_pagina";
        @import "segunda_pagina";
        @import "tercer_pagina";
        @import "cuarta_pagina";
        @import "quinta_pagina";
        @import "sexta_pagina";
        @import "septima_pagina";
        @import "octava_pagina";
    }
}